@{
    ViewBag.Title = "Меню";
    Layout = "_Layout";
}

<h2>Меню</h2>

<ul class="list-group">
    <a class="list-group-item" asp-controller="Countries" asp-action="Index">Країни</a>
    <a class="list-group-item" asp-controller="AccessLevels" asp-action="Index">Рівні доступу</a>
    <a class="list-group-item" asp-controller="Agencies" asp-action="Index">Агенції</a>
</ul>
