@{
    ViewBag.Title = "Меню";
    Layout = "_Layout";
}

<h2>Меню</h2>

<ul class="list-group">
    <a class="list-group-item" asp-controller="Countries" asp-action="Index">Країни</a>
    <a class="list-group-item" asp-controller="AccessLevels" asp-action="Index">Рівні доступу</a>
    <a class="list-group-item" asp-controller="Agencies" asp-action="Index">Агенції</a>
    <a class="list-group-item" asp-controller="Departments" asp-action="Index">Департаменти</a>
    <a class="list-group-item" asp-controller="Operations" asp-action="Index">Операції</a>
    <a class="list-group-item" asp-controller="AgencyWorkers" asp-action="Index">Співробітники</a>
    <a class="list-group-item" asp-controller="DepartmentHeads" asp-action="Index">Голови департаментів</a>
    <a class="list-group-item" asp-controller="OperationCommanders" asp-action="Index">Командири операцій</a>
    <a class="list-group-item" asp-controller="StationaryWorkers" asp-action="Index">Стаціонарні співробітники</a>
    <a class="list-group-item" asp-controller="Agents" asp-action="Index">Агенти</a>
    <a class="list-group-item" asp-controller="CoverEntities" asp-action="Index">Персонажі</a>
    <a class="list-group-item" asp-controller="StationaryWorkersToOperations" asp-action="Index">Стаціонарні співробітники в операціях</a>
    <a class="list-group-item" asp-controller="AgentIntelligenceActivities" asp-action="Index">Розвідкові активності агентів</a>
</ul>
