@{
    ViewBag.Title = "Меню";
    Layout = "_Layout";
}

<h2>Меню</h2>

<ul class="list-group">
    <li class="list-group-item"><a asp-controller="Test" asp-action="Index">Тест</a></li>
    <a class="list-group-item">Hello</a>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
    <li><a href=""></a></li>
</ul>
