@{
    ViewData["Title"] = "Політика Приватності";
}
<h1>@ViewData["Title"]</h1>

<div class="p-4">
    <div style="height: 420px; width: 600px; margin: auto">
        <iframe width="100%" height="100%" allow="autoplay"
                src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1">
        </iframe>
    </div>
</div>